# Project 2: Extract, Transform, and Load
### Team 3: Chris Schultz and Glen Dagger

In [34]:
# Import dependencies
import pandas as pd
from census import Census
from config import api_key
from sqlalchemy import create_engine, inspect

from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
import county_web_scrape
import time

# Extract and Transform Data

## Beers

In [47]:
# Import beers.csv as dataframe
beers_df = pd.read_csv('./Resources/beers.csv', index_col=[0])

# Filter dataframe to desired columns
beers_cleaned_df = beers_df[['id','name','style','brewery_id','abv']]

# Export to csv
beers_cleaned_df.to_csv('./Resources/beers.csv', index=False)

# Display first 5 rows
beers_cleaned_df.head()

,id,name,style,brewery_id,abv
0,1436,Pub Beer,American Pale Lager,408,0.050
1,2265,Devil's Cup,American Pale Ale (APA),177,0.066
2,2264,Rise of the Phoenix,American IPA,177,0.071
3,2263,Sinister,American Double / Imperial IPA,177,0.090
4,2262,Sex and Candy,American IPA,177,0.075

## Breweries

In [48]:
# Import breweries.csv as dataframe
breweries_df = pd.read_csv('./Resources/breweries.csv')

# Strip whitespace from state column
breweries_df['state'] = breweries_df['state'].str.strip()

# Strip whitespace from name column
breweries_df['name'] = breweries_df['name'].str.strip()

# Clean dataframe
breweries_cleaned_df = breweries_df[['name', 'city', 'state']]

# Reset and rename index as id
breweries_cleaned_df.reset_index(inplace=True)
breweries_cleaned_df = breweries_cleaned_df.rename(columns = {'index':'brewery_id'})

# Display first 5 rows
breweries_cleaned_df.head()

   brewery_id                       name           city state
0           0          NorthGate Brewing    Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [49]:
# Export cleaned breweries table
breweries_cleaned_df.to_csv('./CleanedCSVs/breweries_table.csv', index=False)

In [22]:
# # Run web scraping module to find county for each city in city_df and add column to dataframe
# city_df = county_web_scrape.main()

record 0/401
0.25% complete
Currently scraping Abingdon, VA.
Success! This city is in Washington County
--------------------------------
record 1/401
0.5% complete
Currently scraping Abita Springs, LA.
Success! This city is in St. Tammany Parish
--------------------------------
record 2/401
0.75% complete
Currently scraping Ada, MI.
No county was found.
--------------------------------
record 3/401
1.0% complete
Currently scraping Afton, VA.
No county was found.
--------------------------------
record 4/401
1.25% complete
Currently scraping Airway Heights, WA.
Success! This city is in Spokane County
--------------------------------
record 5/401
1.5% complete
Currently scraping Albuquerque, NM.
Success! This city is in Bernalillo County
--------------------------------
record 6/401
1.75% complete
Currently scraping Alpine, TX.
Success! This city is in Brewster County
--------------------------------
record 7/401
2.0% complete
Currently scraping Anchorage, AK.
Success! This city is in Anchorage Borough
--------------------------------
record 8/401
2.24% complete
Currently scraping Angola, IN.
Success! This city is in Steuben County
--------------------------------
record 9/401
2.49% complete
Currently scraping Ann Arbor, MI.
Success! This city is in Washtenaw County
--------------------------------
record 10/401
2.74% complete
Currently scraping Arrington, VA.
Success! This city is in Nelson County
--------------------------------
record 11/401
2.99% complete
Currently scraping Arvada, CO.
Success! This city is in Jefferson County
--------------------------------
record 12/401
3.24% complete
Currently scraping Ashburn, VA.
Success! This city is in Loudoun County
--------------------------------
record 13/401
3.49% complete
Currently scraping Asheville, NC.
Success! This city is in Buncombe County
--------------------------------
record 14/401
3.74% complete
Currently scraping Ashland, OR.
Success! This city is in Jackson County
--------------------------------
record 15/401
3.99% complete
Currently scraping Ashland, VA.
Success! This city is in Hanover County
--------------------------------
record 16/401
4.24% complete
Currently scraping Aspen, CO.
Success! This city is in Pitkin County
--------------------------------
record 17/401
4.49% complete
Currently scraping Astoria, OR.
Success! This city is in Clatsop County
--------------------------------
record 18/401
4.74% complete
Currently scraping Athens, GA.
Success! This city is in Clarke County
--------------------------------
record 19/401
4.99% complete
Currently scraping Athens, OH.
Success! This city is in Athens County
--------------------------------
record 20/401
5.24% complete
Currently scraping Atlanta, GA.
Success! This city is in Fulton County
--------------------------------
record 21/401
5.49% complete
Currently scraping Atlantic Highlands, NJ.
Success! This city is in Monmouth County
--------------------------------
record 22/401
5.74% complete
Currently scraping Aurora, CO.
Success! This city is in Arapahoe County
--------------------------------
record 23/401
5.99% complete
Currently scraping Aurora, IN.
Success! This city is in Dearborn County
--------------------------------
record 24/401
6.23% complete
Currently scraping Austin, TX.
Success! This city is in Travis County
--------------------------------
record 25/401
6.48% complete
Currently scraping Avon, IN.
Success! This city is in Hendricks County
--------------------------------
record 26/401
6.73% complete
Currently scraping Baltimore, MD.
Success! This city is in Baltimore City County
--------------------------------
record 27/401
6.98% complete
Currently scraping Bargersville, IN.
Success! This city is in Johnson County
--------------------------------
record 28/401
7.23% complete
Currently scraping Baton Rouge, LA.
Success! This city is in East Baton Rouge Parish
--------------------------------
record 29/401
7.48% complete
Currently scraping Battle Creek, MI.
Success! This city is in Calhoun County
--------------------------------
record 30/401
7.73% complete
Currently scraping Belfast, ME.
Success! This city is in Waldo County
--------------------------------
record 31/401
7.98% complete
Currently scraping Bellingham, WA.
Success! This city is in Whatcom County
--------------------------------
record 32/401
8.23% complete
Currently scraping Belmont, CA.
Success! This city is in San Mateo County
--------------------------------
record 33/401
8.48% complete
Currently scraping Belt, MT.
Success! This city is in Cascade County
--------------------------------
record 34/401
8.73% complete
Currently scraping Bend, OR.
Success! This city is in Deschutes County
--------------------------------
record 35/401
8.98% complete
Currently scraping Biglerville, PA.
Success! This city is in Adams County
--------------------------------
record 36/401
9.23% complete
Currently scraping Birmingham, AL.
Success! This city is in Jefferson County
--------------------------------
record 37/401
9.48% complete
Currently scraping Birmingham, MI.
Success! This city is in Oakland County
--------------------------------
record 38/401
9.73% complete
Currently scraping Black Mountain, NC.
Success! This city is in Buncombe County
--------------------------------
record 39/401
9.98% complete
Currently scraping Blanco, TX.
Success! This city is in Blanco County
--------------------------------
record 40/401
10.22% complete
Currently scraping Bloomfield, CT.
No county was found.
--------------------------------
record 41/401
10.47% complete
Currently scraping Bloomington, IL.
Success! This city is in McLean County
--------------------------------
record 42/401
10.72% complete
Currently scraping Bloomington, IN.
Success! This city is in Monroe County
--------------------------------
record 43/401
10.97% complete
Currently scraping Boise, ID.
Success! This city is in Ada County
--------------------------------
record 44/401
11.22% complete
Currently scraping Boone, NC.
Success! This city is in Watauga County
--------------------------------
record 45/401
11.47% complete
Currently scraping Boonville, CA.
Success! This city is in Mendocino County
--------------------------------
record 46/401
11.72% complete
Currently scraping Boston, MA.
Success! This city is in Suffolk County
--------------------------------
record 47/401
11.97% complete
Currently scraping Boulder, CO.
Success! This city is in Boulder County
--------------------------------
record 48/401
12.22% complete
Currently scraping Boynton Beach, FL.
Success! This city is in Palm Beach County
--------------------------------
record 49/401
12.47% complete
Currently scraping Bozeman, MT.
Success! This city is in Gallatin County
--------------------------------
record 50/401
12.72% complete
Currently scraping Brevard, NC.
Success! This city is in Transylvania County
--------------------------------
record 51/401
12.97% complete
Currently scraping Bridgewater Corners, VT.
No county was found.
--------------------------------
record 52/401
13.22% complete
Currently scraping Bridgman, MI.
Success! This city is in Berrien County
--------------------------------
record 53/401
13.47% complete
Currently scraping Bronx, NY.
Success! This city is in Westchester County
--------------------------------
record 54/401
13.72% complete
Currently scraping Brooklyn, NY.
No county was found.
--------------------------------
record 55/401
13.97% complete
Currently scraping Brooklyn Center, MN.
Success! This city is in Hennepin County
--------------------------------
record 56/401
14.21% complete
Currently scraping Broomfield, CO.
Success! This city is in Broomfield County
--------------------------------
record 57/401
14.46% complete
Currently scraping Bucryus, MO.
No county was found.
--------------------------------
record 58/401
14.71% complete
Currently scraping Buellton, CA.
Success! This city is in Santa Barbara County
--------------------------------
record 59/401
14.96% complete
Currently scraping Buena Vista, CO.
Success! This city is in Chaffee County
--------------------------------
record 60/401
15.21% complete
Currently scraping Burlington, VT.
Success! This city is in Chittenden County
--------------------------------
record 61/401
15.46% complete
Currently scraping Cambridge, MA.
Success! This city is in Middlesex County
--------------------------------
record 62/401
15.71% complete
Currently scraping Canton, MA.
No county was found.
--------------------------------
record 63/401
15.96% complete
Currently scraping Carlsbad, CA.
Success! This city is in San Diego County
--------------------------------
record 64/401
16.21% complete
Currently scraping Centralia, WA.
Success! This city is in Lewis County
--------------------------------
record 65/401
16.46% complete
Currently scraping Chandler, AZ.
Success! This city is in Maricopa County
--------------------------------
record 66/401
16.71% complete
Currently scraping Charleston, SC.
Success! This city is in Charleston County
--------------------------------
record 67/401
16.96% complete
Currently scraping Charlotte, NC.
Success! This city is in Mecklenburg County
--------------------------------
record 68/401
17.21% complete
Currently scraping Charlottesville, VA.
Success! This city is in Charlottesville city
--------------------------------
record 69/401
17.46% complete
Currently scraping Chatham, NY.
Success! This city is in Columbia County
--------------------------------
record 70/401
17.71% complete
Currently scraping Chattanooga, TN.
Success! This city is in Hamilton County
--------------------------------
record 71/401
17.96% complete
Currently scraping Cheboygan, MI.
Success! This city is in Cheboygan County
--------------------------------
record 72/401
18.2% complete
Currently scraping Cherry Hill, NJ.
Success! This city is in Camden County
--------------------------------
record 73/401
18.45% complete
Currently scraping Chicago, IL.
Success! This city is in Cook County
--------------------------------
record 74/401
18.7% complete
Currently scraping Chico, CA.
Success! This city is in Butte County
--------------------------------
record 75/401
18.95% complete
Currently scraping Cincinnati, OH.
Success! This city is in Hamilton County
--------------------------------
record 76/401
19.2% complete
Currently scraping Claremont, CA.
Success! This city is in Los Angeles County
--------------------------------
record 77/401
19.45% complete
Currently scraping Cleveland, OH.
Success! This city is in Cuyahoga County
--------------------------------
record 78/401
19.7% complete
Currently scraping Cold Spring, MN.
Success! This city is in Stearns County
--------------------------------
record 79/401
19.95% complete
Currently scraping College Station, TX.
Success! This city is in Brazos County
--------------------------------
record 80/401
20.2% complete
Currently scraping Colorado Springs, CO.
Success! This city is in El Paso County
--------------------------------
record 81/401
20.45% complete
Currently scraping Columbus, IN.
Success! This city is in Bartholomew County
--------------------------------
record 82/401
20.7% complete
Currently scraping Columbus, OH.
Success! This city is in Franklin County
--------------------------------
record 83/401
20.95% complete
Currently scraping Comstock Park, MI.
Success! This city is in Kent County
--------------------------------
record 84/401
21.2% complete
Currently scraping Conestoga, PA.
Success! This city is in Lancaster County
--------------------------------
record 85/401
21.45% complete
Currently scraping Conroe, TX.
Success! This city is in Montgomery County
--------------------------------
record 86/401
21.7% complete
Currently scraping Cortland, NE.
Success! This city is in Gage County
--------------------------------
record 87/401
21.95% complete
Currently scraping Corvallis, OR.
Success! This city is in Benton County
--------------------------------
record 88/401
22.19% complete
Currently scraping Covington, LA.
Success! This city is in St. Tammany Parish
--------------------------------
record 89/401
22.44% complete
Currently scraping Croydon, PA.
Success! This city is in Bucks County
--------------------------------
record 90/401
22.69% complete
Currently scraping Crozet, VA.
Success! This city is in Albemarle County
--------------------------------
record 91/401
22.94% complete
Currently scraping Dallas, TX.
Success! This city is in Dallas County
--------------------------------
record 92/401
23.19% complete
Currently scraping Danville, PA.
Success! This city is in Montour County
--------------------------------
record 93/401
23.44% complete
Currently scraping Davenport, IA.
Success! This city is in Scott County
--------------------------------
record 94/401
23.69% complete
Currently scraping Dayton, OH.
Success! This city is in Montgomery County
--------------------------------
record 95/401
23.94% complete
Currently scraping Denton, TX.
Success! This city is in Denton County
--------------------------------
record 96/401
24.19% complete
Currently scraping Denver, CO.
Success! This city is in Denver County
--------------------------------
record 97/401
24.44% complete
Currently scraping Des Moines, IA.
Success! This city is in Polk County
--------------------------------
record 98/401
24.69% complete
Currently scraping Detroit, MI.
Success! This city is in Monroe County
--------------------------------
record 99/401
24.94% complete
Currently scraping Diamond Springs, CA.
Success! This city is in El Dorado County
--------------------------------
record 100/401
25.19% complete
Currently scraping Dillon, CO.
Success! This city is in Summit County
--------------------------------
record 101/401
25.44% complete
Currently scraping Dolores, CO.
Success! This city is in Montezuma County
--------------------------------
record 102/401
25.69% complete
Currently scraping Douglas, MI.
Success! This city is in Allegan County
--------------------------------
record 103/401
25.94% complete
Currently scraping Dripping Springs, TX.
Success! This city is in Hays County
--------------------------------
record 104/401
26.18% complete
Currently scraping Duluth, MN.
Success! This city is in St. Louis County
--------------------------------
record 105/401
26.43% complete
Currently scraping Dunedin, FL.
Success! This city is in Pinellas County
--------------------------------
record 106/401
26.68% complete
Currently scraping Durango, CO.
Success! This city is in La Plata County
--------------------------------
record 107/401
26.93% complete
Currently scraping Durham, NC.
Success! This city is in Durham County
--------------------------------
record 108/401
27.18% complete
Currently scraping Eagle, CO.
Success! This city is in Eagle County
--------------------------------
record 109/401
27.43% complete
Currently scraping East Fairfield, VT.
No county was found.
--------------------------------
record 110/401
27.68% complete
Currently scraping East Windsor, CT.
No county was found.
--------------------------------
record 111/401
27.93% complete
Currently scraping Eau Claire, WI.
Success! This city is in Eau Claire County
--------------------------------
record 112/401
28.18% complete
Currently scraping Edwards, CO.
Success! This city is in Eagle County
--------------------------------
record 113/401
28.43% complete
Currently scraping Elmira, NY.
Success! This city is in Chemung County
--------------------------------
record 114/401
28.68% complete
Currently scraping Erie, PA.
Success! This city is in Erie County
--------------------------------
record 115/401
28.93% complete
Currently scraping Estacada, OR.
Success! This city is in Clackamas County
--------------------------------
record 116/401
29.18% complete
Currently scraping Eugene, OR.
Success! This city is in Lane County
--------------------------------
record 117/401
29.43% complete
Currently scraping Evanston, IL.
Success! This city is in Cook County
--------------------------------
record 118/401
29.68% complete
Currently scraping Evansville, IN.
Success! This city is in Vanderburgh County
--------------------------------
record 119/401
29.93% complete
Currently scraping Everett, MA.
Success! This city is in Middlesex County
--------------------------------
record 120/401
30.17% complete
Currently scraping Export, PA.
Success! This city is in Westmoreland County
--------------------------------
record 121/401
30.42% complete
Currently scraping Fargo, ND.
Success! This city is in Cass County
--------------------------------
record 122/401
30.67% complete
Currently scraping Farmers Branch, TX.
Success! This city is in Dallas County
--------------------------------
record 123/401
30.92% complete
Currently scraping Flagstaff, AZ.
Success! This city is in Coconino County
--------------------------------
record 124/401
31.17% complete
Currently scraping Fort Collins, CO.
Success! This city is in Larimer County
--------------------------------
record 125/401
31.42% complete
Currently scraping Fort Wayne, IN.
Success! This city is in Allen County
--------------------------------
record 126/401
31.67% complete
Currently scraping Fort Worth, TX.
Success! This city is in Tarrant County
--------------------------------
record 127/401
31.92% complete
Currently scraping Framingham, MA.
Success! This city is in Middlesex County
--------------------------------
record 128/401
32.17% complete
Currently scraping Frankenmuth, MI.
Success! This city is in Saginaw County
--------------------------------
record 129/401
32.42% complete
Currently scraping Frederick, MD.
Success! This city is in Frederick County
--------------------------------
record 130/401
32.67% complete
Currently scraping Fredericksburg, TX.
Success! This city is in Gillespie County
--------------------------------
record 131/401
32.92% complete
Currently scraping Fuquay-Varina, NC.
Success! This city is in Wake County
--------------------------------
record 132/401
33.17% complete
Currently scraping Gadsden, AL.
Success! This city is in Etowah County
--------------------------------
record 133/401
33.42% complete
Currently scraping Gainesville, FL.
Success! This city is in Alachua County
--------------------------------
record 134/401
33.67% complete
Currently scraping Garden City, ID.
Success! This city is in Ada County
--------------------------------
record 135/401
33.92% complete
Currently scraping Garrattsville, NY.
No county was found.
--------------------------------
record 136/401
34.16% complete
Currently scraping Gary, IN.
Success! This city is in Lake County
--------------------------------
record 137/401
34.41% complete
Currently scraping Gig Harbor, WA.
Success! This city is in Pierce County
--------------------------------
record 138/401
34.66% complete
Currently scraping Glendale, WI.
Success! This city is in Milwaukee County
--------------------------------
record 139/401
34.91% complete
Currently scraping Gloucester, MA.
Success! This city is in Essex County
--------------------------------
record 140/401
35.16% complete
Currently scraping Golden, CO.
Success! This city is in Jefferson County
--------------------------------
record 141/401
35.41% complete
Currently scraping Grand Rapids, MI.
Success! This city is in Kent County
--------------------------------
record 142/401
35.66% complete
Currently scraping Granger, IN.
Success! This city is in St. Joseph County
--------------------------------
record 143/401
35.91% complete
Currently scraping Greeley, CO.
Success! This city is in Weld County
--------------------------------
record 144/401
36.16% complete
Currently scraping Green Bay, WI.
Success! This city is in Brown County
--------------------------------
record 145/401
36.41% complete
Currently scraping Greenville, DE.
Success! This city is in New Castle County
--------------------------------
record 146/401
36.66% complete
Currently scraping Greenville, SC.
Success! This city is in Greenville County
--------------------------------
record 147/401

In [50]:
city_df = pd.read_csv('./Resources/county_list_df.csv')
city_df.head()

   Unnamed: 0            city state              county
0           0        Abingdon    VA   Washington County
1           1   Abita Springs    LA  St. Tammany Parish
2           2             Ada    MI                 NaN
3           3           Afton    VA                 NaN
4           4  Airway Heights    WA      Spokane County

In [51]:
# Merge county data into breweries dataframe
breweries_counties_df = breweries_cleaned_df.merge(city_df, how='left', on=['city','state'])

# Filter columns
breweries_counties_df = breweries_counties_df[['brewery_id', 'name', 'city', 'state', 'county']]

# Display first 5 rows
breweries_counties_df

,brewery_id,name,city,state,county
0,0,NorthGate Brewing,Minneapolis,MN,Hennepin County
1,1,Against the Grain Brewery,Louisville,KY,Jefferson County
2,2,Jack's Abby Craft Lagers,Framingham,MA,Middlesex County
3,3,Mike Hess Brewing Company,San Diego,CA,San Diego County
4,4,Fort Point Beer Company,San Francisco,CA,San Francisco County
...,...,...,...,...,...
553,553,Covington Brewhouse,Covington,LA,St. Tammany Parish
554,554,Dave's Brewfarm,Wilson,WI,St. Croix County
555,555,Ukiah Brewing Company,Ukiah,CA,Mendocino County
556,556,Butternuts Beer and Ale,Garrattsville,NY,NaN
557,557,Sleeping Lady Brewing Company,Anchorage,AK,Anchorage Borough

## Census Data

### County

In [24]:
# Create Census object with Census API key from the selected year
c = Census(api_key, year=2021)

# Run Census Search to retrieve income data by county
county_census_data = c.acs1.get(("NAME", "B01003_001E", "B19013_001E","B19301_001E", "B01002_001E"), {'for': 'county:*'})

# Convert to DataFrame
county_census_df = pd.DataFrame(county_census_data)

# Rename columns
county_census_cleaned_df = county_census_df.rename(columns={"B01003_001E": "population",
                                      "B19013_001E": "med_household_income",
                                      "B19301_001E": "per_capita_income",
                                      "B01002_001E": "median_age",
                                      "state": "state_code",
                                      "NAME": "county",
                                      "county": "county_code"
                                    }
                                    )

# Cast population column as integer
county_census_cleaned_df['population'] = county_census_cleaned_df['population'].astype(int)

# Split county column into separate county and state columns
county_census_cleaned_df[['county','state']] = county_census_cleaned_df.county.str.split(', ', expand=True)

# Display first 5 rows
county_census_cleaned_df.head()

,county,population,med_household_income,per_capita_income,median_age,state_code,county_code,state
0,Baldwin County,239294,63866.0,35824.0,43.9,01,003,Alabama
1,Calhoun County,115972,46524.0,24804.0,40.2,01,015,Alabama
2,Cullman County,89496,55517.0,28024.0,40.5,01,043,Alabama
3,DeKalb County,71813,41800.0,25633.0,40.2,01,049,Alabama
4,Elmore County,89304,59032.0,28515.0,40.0,01,051,Alabama

In [25]:
# Create dictionary for converting state names to abbreviations
state_abbreviations = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

In [36]:
# Convert State names to state abbreviations
county_census_cleaned_df.replace({"state": state_abbreviations}, inplace=True)

# Drop state_code and county_code columns
county_census_cleaned_df.drop(columns=['county_code', 'state_code'], inplace=True)

# Export dataframe to CSV to more easily inspect final dataset
county_census_cleaned_df.to_csv('./Resources/county_census_data.csv')

# Display first 5 rows
county_census_cleaned_df.head()

,county,population,med_household_income,per_capita_income,median_age,state
0,Baldwin County,239294,63866.0,35824.0,43.9,AL
1,Calhoun County,115972,46524.0,24804.0,40.2,AL
2,Cullman County,89496,55517.0,28024.0,40.5,AL
3,DeKalb County,71813,41800.0,25633.0,40.2,AL
4,Elmore County,89304,59032.0,28515.0,40.0,AL

### Create Census Table by State

In [44]:
# Create Census object with Census API key from the selected year
c = Census(api_key, year=2021)

# Run Census Search to retrieve income data by county
state_census_data = c.acs1.get(("NAME", "B01003_001E", "B19013_001E","B19301_001E", "B01002_001E"), {'for': 'state:*'})

# Convert to DataFrame
state_census_df = pd.DataFrame(state_census_data)

# Rename columns
state_census_cleaned_df = state_census_df.rename(columns={"B01003_001E": "population",
                                      "B19013_001E": "med_household_income",
                                      "B19301_001E": "per_capita_income",
                                      "B01002_001E": "median_age",
                                      "state": "state_code",
                                      "NAME": "state"
                                    }
                                    )

# Cast population column as int
state_census_cleaned_df['population'] = state_census_cleaned_df['population'].astype(int)

# Display first 5 rows
state_census_cleaned_df.head()

,state,population,med_household_income,per_capita_income,median_age,state_code
0,Alabama,5039877,53913.0,30608.0,39.8,01
1,Puerto Rico,3263584,22237.0,14468.0,44.1,72
2,Arizona,7276316,69056.0,36295.0,38.6,04
3,Arkansas,3025891,52528.0,29252.0,38.5,05
4,California,39237836,84907.0,42396.0,37.6,06

In [45]:
# Convert State names to state abbreviations
state_census_cleaned_df.replace({"state": state_abbreviations}, inplace=True)

# Drop state_code and county_code columns
state_census_cleaned_df.drop(columns='state_code', inplace=True)

# Export dataframe to CSV to more easily inspect final dataset
state_census_cleaned_df.to_csv('./Resources/state_census_data.csv')

# Display first 5 rows
state_census_cleaned_df.head()

  state  population  med_household_income  per_capita_income  median_age
0    AL     5039877               53913.0            30608.0        39.8
1    PR     3263584               22237.0            14468.0        44.1
2    AZ     7276316               69056.0            36295.0        38.6
3    AR     3025891               52528.0            29252.0        38.5
4    CA    39237836               84907.0            42396.0        37.6

# Load

### Connect to local database

In [30]:
# Create connection to postgresql database
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'beer_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [31]:
# Check table names using inspector
inspector = inspect(engine)
table_names = inspector.get_table_names()

table_names

['census_data', 'breweries', 'beers']

In [46]:
# Use pandas to load csv converted DataFrames into database

# County Census table


# State Census table
state_census_cleaned_df.to_sql(name='census_data', con=engine, if_exists='append', index=False)

# Breweries table
breweries_cleaned_df.to_sql(name='breweries', con=engine, if_exists='append', index=False)

# Beers tables
beers_cleaned_df.to_sql(name='beers', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "census_data_pkey"
DETAIL:  Key (state)=(AL) already exists.

[SQL: INSERT INTO census_data (state, population, med_household_income, per_capita_income, median_age) VALUES (%(state)s, %(population)s, %(med_household_income)s, %(per_capita_income)s, %(median_age)s)]
[parameters: ({'state': 'AL', 'population': 5039877, 'med_household_income': 53913.0, 'per_capita_income': 30608.0, 'median_age': 39.8}, {'state': 'PR', 'population': 3263584, 'med_household_income': 22237.0, 'per_capita_income': 14468.0, 'median_age': 44.1}, {'state': 'AZ', 'population': 7276316, 'med_household_income': 69056.0, 'per_capita_income': 36295.0, 'median_age': 38.6}, {'state': 'AR', 'population': 3025891, 'med_household_income': 52528.0, 'per_capita_income': 29252.0, 'median_age': 38.5}, {'state': 'CA', 'population': 39237836, 'med_household_income': 84907.0, 'per_capita_income': 42396.0, 'median_age': 37.6}, {'state': 'CO', 'population': 5812069, 'med_household_income': 82254.0, 'per_capita_income': 44617.0, 'median_age': 37.6}, {'state': 'CT', 'population': 3605597, 'med_household_income': 83771.0, 'per_capita_income': 48146.0, 'median_age': 41.1}, {'state': 'DE', 'population': 1003384, 'med_household_income': 71091.0, 'per_capita_income': 38797.0, 'median_age': 41.6}  ... displaying 10 of 52 total bound parameter sets ...  {'state': 'WY', 'population': 578803, 'med_household_income': 65204.0, 'per_capita_income': 37156.0, 'median_age': 39.0}, {'state': 'AK', 'population': 732673, 'med_household_income': 77845.0, 'per_capita_income': 39509.0, 'median_age': 35.6})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)